<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <div class="logo">
      <span class="logo-mini"><b>K</b>C</span>
      <span class="logo-lg"><b>Kinan</b>City</span>
    </div>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>

</header>
