<div class="wrapper">

  {{top-header}}

  {{side-menu}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {{outlet}}
  </div>
  <!-- /.content-wrapper -->

  {{author-footer}}

</div>
